body {
    font-family: Arial, sans-serif;
    background-color:lightgrey;
}
header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    text-align: center;
    margin: 20px;
}
nav a {
    text-decoration: none;
    color: navy;
    margin: 10px;
}
section {
    background-color: white;
    margin: 20px;
    padding: 15px;
}
img {
    width: 150px;
}
button {
    background-color: navy;
    color: white;
    padding: 10px;
}